.about-us{
    padding-top: 80px;
}
.about-sec{
    display: flex;
    justify-content: space-between;
    padding: 0 250px 130px 250px;
}

.about-sec img{
    height: 400px;
    width: 500px;
    object-fit: cover;
}

.about-sec p{
    text-align: justify;
    padding-left: 120px;
}

.about-sec h5{
    padding: 0  0 40px 120px;
    font-size: 18px;

}